<section class="custom-hero">
  <div class="hero-content">
    
    <h1 class="hero-title">
      Análisis estadístico y comparativo del impacto de herramientas de Inteligencia Artificial en hábitos de estudio y desgaste académico universitario
    </h1>

    <p class="hero-description">
      Nuestro objetivo es incorporar análisis comparativos detallados para entender cómo la IA está transformando la educación. A través de este estudio, buscaremos identificar patrones y diferencias clave evaluando:
    </p>

    <ul class="hero-tags">
      <li>Carreras</li>
      <li>Niveles académicos</li>
      <li>Frecuencia de uso</li>
      <li>Tipos de IA</li>
      <li>Distribución del tiempo</li>
    </ul>

    <div class="hero-action">
        <button (click)="irAEncuesta()" class="btn-primary">
            Toma nuestra encuesta
        </button>
    </div>

  </div>
  
</section>